# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET
import pandas as pd

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [5]:
document = ET.parse( './data/mondial_database.xml' )
root = document.getroot()

In [6]:
# 10 cities with the largest population

pop = pd.DataFrame()

for element in document.iterfind('country'):
    entry = pd.DataFrame({'country': element.find('name').text, 'population': int(element.find('population').text)}, index = range(1))
    pop = pop.append(entry, ignore_index=True)
    
#for country in root.iter('country'):
    #name = country.find('name').text
    #population = country.find('population').text
    #print name, population

In [7]:
pop.sort_values(by='population', ascending =False).head(10)

            country  population
55            China   543776080
67            India   238396327
120   United States   157813040
23           Russia   102798657
98            Japan    82199470
88        Indonesia    72592192
11          Germany    68230796
176          Brazil    53974725
53   United Kingdom    50616012
7            France    40502513

In [8]:
# 10 countries with the lowest infant mortality rates
from decimal import Decimal
mortality = pd.DataFrame()

for element in document.iterfind('country'):
    try:
        entry = pd.DataFrame({'country': element.find('name').text, 'mortality rate': Decimal(element.find('infant_mortality').text)}, index = range(1))
    except AttributeError:
        pass
    mortality = mortality.append(entry, ignore_index=True)

In [9]:
mortality.sort_values(by='mortality rate', ascending = True).head(10)

            country mortality rate
38           Monaco           1.81
98            Japan           2.13
36           Norway           2.48
117         Bermuda           2.48
106       Singapore           2.53
37           Sweden            2.6
10   Czech Republic           2.63
78        Hong Kong           2.73
79            Macao           3.13
44          Iceland           3.15

In [15]:
# Trying to extract only year

pop = pd.DataFrame()

for element in document.iterfind('country'):
    for subelement in element.getiterator('population'):
        if subelement.attrib['year'] == '2011':
            print element.find('name').text, subelement.text

Albania 2800138
Albania 418495
Albania 77075
Albania 113249
Albania 79513
Albania 78703
Albania 51152
Greece 10816286
Greece 608182
Greece 58790
Greece 3828434
Greece 664046
Greece 163688
Greece 139981
Greece 106943
Greece 679796
Greece 213984
Greece 283689
Greece 207855
Greece 102071
Greece 336856
Greece 112486
Greece 1880297
Greece 325182
Greece 623065
Greece 173993
Greece 108642
Greece 309015
Greece 115490
Greece 577903
Greece 547390
Greece 75315
Greece 102223
Greece 732762
Greece 162591
Greece 144449
Greece 199231
Greece 1811
Macedonia 2059794
Macedonia 514967
Macedonia 107745
Serbia 7120666
Serbia 1639121
Serbia 335701
Serbia 257867
Montenegro 620029
Montenegro 150977
Kosovo 1733872
Kosovo 198214
Andorra 78115
Andorra 22256
France 64933400
France 1852325
France 272222
France 110351
France 3254233
France 239399
France 1350682
France 140957
France 1475684
France 108793
France 3217767
France 208033
France 140547
France 1642734
France 151672
France 2556835
France 114185
France 134633
France 1336053
France 180752
France 314486
France 66245
France 1173440
France 115879
France 1839393
France 111553
France 174156
France 11852851
France 2249975
France 116220
France 104282
France 103068
France 103916
France 2670046
France 264538
France 144940
France 118238
France 741072
France 137758
France 2350657
France 119962
France 105382
France 2903420
France 447340
France 4042015
France 227533
France 3601113
France 287845
France 148803
France 143240
France 1918155
France 133327
France 1777773
France 87646
France 4916069
France 850636
France 344064
France 163974
France 140684
France 6283541
France 491268
France 157424
France 170049
France 145034
Spain 46815916
Spain 8371271
Spain 698042
Spain 189680
Spain 124014
Spain 328326
Spain 241003
Spain 147808
Spain 561435
Spain 211784
Spain 116469
Spain 117695
Spain 135124
Spain 128433
Spain 1344509
Spain 678115
Spain 1075183
Spain 225005
Spain 276969
Spain 1100503
Spain 402044
Spain 2185393
Spain 240753
Spain 351356
Spain 100064
Spain 185512
Spain 2082654
Spain 204476
Spain 152025
Spain 381271
Spain 101080
Spain 592542
Spain 178095
Spain 2540187
Spain 311682
Spain 178864
Spain 131411
Spain 151658
Spain 2106331
Spain 171999
Spain 7519843
Spain 1611013
Spain 137283
Spain 133223
Spain 106849
Spain 256509
Spain 219241
Spain 206949
Spain 214406
Spain 119391
Spain 123367
Spain 1104500
Spain 151214
Spain 2772927
Spain 245053
Spain 295623
Spain 107314
Spain 6421874
Spain 3198645
Spain 203493
Spain 185758
Spain 200505
Spain 196986
Spain 168642
Spain 167217
Spain 123213
Spain 122045
Spain 110351
Spain 1462128
Spain 437667
Spain 215757
Spain 640129
Spain 195943
Spain 321173
Spain 152698
Spain 5009931
Spain 792054
Spain 329325
Spain 227417
Spain 176298
Czech Republic 10562214
Czech Republic 1272690
Czech Republic 1289556
Czech Republic 637460
Czech Republic 95589
Czech Republic 1169788
Czech Republic 404820
Czech Republic 310245
Czech Republic 53310
Czech Republic 512727
Czech Republic 51162
Czech Republic 555683
Czech Republic 95594
Czech Republic 439262
Czech Republic 104973
Czech Republic 1236028
Czech Republic 311508
Czech Republic 639946
Czech Republic 101954
Czech Republic 518228
Czech Republic 90844
Czech Republic 574694
Czech Republic 171346
Czech Republic 1274633
Czech Republic 830371
Czech Republic 98596
Czech Republic 590459
Czech Republic 77137
Germany 80219695
Germany 10486660
Germany 585890
Germany 290117
Germany 289173
Germany 209628
Germany 146751
Germany 116059
Germany 114411
Germany 116761
Germany 109799
Germany 12397614
Germany 1348335
Germany 486314
Germany 267767
Germany 124297
Germany 135403
Germany 124927
Germany 115613
Germany 103719
Germany 3292365
Germany 3292365
Germany 2455780
Germany 156021
Germany 99984
Germany 650863
Germany 542707
Germany 108156
Germany 1706696
Germany 1706696
Germany 5971816
Germany 269121
Germany 667925
Germany 190765
Germany 143499
Germany 113443
Germany 1609982
Germany 91293
Germany 200265
Germany 7777992
Germany 506416
Germany 242537
Germany 153699
Germany 157267
Germany 115843
Germany 119984
Germany 98895
Germany 99554
Germany 17538251
Germany 586291
Germany 1005775
Germany 566201
Germany 571143
Germany 488468
Germany 362286
Germany 342661
Germany 326870
Germany 258766
Germany 305765
Germany 255188
Germany 289576
Germany 222247
Germany 236420
Germany 210216
Germany 187944
Germany 176037
Germany 155160
Germany 166865
Germany 155265
Germany 158984
Germany 150568
Germany 142365
Germany 115958
Germany 110708
Germany 117311
Germany 99187
Germany 104009
Germany 96382
Germany 108878
Germany 3989808
Germany 200344
Germany 157584
Germany 107825
Germany 96340
Germany 105671
Germany 999623
Germany 175853
Germany 4056799
Germany 512354
Germany 502979
Germany 240253
Germany 93081
Germany 2287040
Germany 228144
Germany 229153
Germany 2800119
Germany 235782
Germany 210305
Germany 2188589
Germany 200868
Germany 96067
Germany 105739
Hungary 9937628
Hungary 386441
Hungary 156049
Hungary 520331
Hungary 111411
Hungary 359948
Hungary 62050
Hungary 686266
Hungary 167754
Hungary 417456
Hungary 168048
Hungary 425847
Hungary 100570
Hungary 447985
Hungary 129527
Hungary 546721
Hungary 211320
Hungary 308882
Hungary 56569
Hungary 304568
Hungary 67753
Hungary 202427
Hungary 1217476
Hungary 317307
Hungary 66245
Hungary 559272
Hungary 119746
Hungary 386594
Hungary 72953
Hungary 230361
Hungary 256629
Hungary 78884
Hungary 351898
Hungary 61721
Hungary 282179
Hungary 59499
Hungary 1729040
Hungary 1729040
Italy 59433744
Italy 4363916
Italy 101952
Italy 872367
Italy 126806
Italy 9704151
Italy 115349
Italy 189902
Italy 1242123
Italy 119856
Italy 1029475
Italy 102575
Italy 114198
Italy 4857210
Italy 206192
Italy 252520
Italy 111500
Italy 261362
Italy 1218985
Italy 202123
Italy 1570694
Italy 92659
Italy 586180
Italy 4342135
Italy 371337
Italy 132545
Italy 116434
Italy 179149
Italy 175895
Italy 100311
Italy 153740
Italy 162082
Italy 139601
Italy 3672202
Italy 157052
Italy 85858
Italy 358079
Italy 185456
Italy 884268
Italy 162449
Italy 109193
Italy 1541319
Italy 100497
Italy 5502886
Italy 2617175
Italy 117892
Italy 1307309
Italy 117166
Italy 313660
Italy 5766810
Italy 132608
Italy 962003
Italy 85922
Italy 108793
Italy 4052566
Italy 315933
Italy 147036
Italy 89916
Italy 100052
Italy 200154
Italy 578036
Italy 1959050
Italy 89364
Italy 69484
Italy 180817
Italy 5002904
Italy 657561
Italy 243262
Italy 293902
Italy 118385
Italy 1639362
Italy 149883
Italy 123782
Slovakia 5397036
Slovakia 602436
Slovakia 411228
Slovakia 660563
Slovakia 80003
Slovakia 688851
Slovakia 81494
Slovakia 791723
Slovakia 240433
Slovakia 814527
Slovakia 91782
Slovakia 689867
Slovakia 78916
Slovakia 594328
Slovakia 55877
Slovakia 554741
Slovakia 66358
Slovenia 2050189
Latvia 2070371
Latvia 658640
Lithuania 3043429
Lithuania 535631
Lithuania 315993
Lithuania 162360
Poland 38501000
Ukraine 45778534
Ukraine 1285384
Ukraine 1098209
Ukraine 904277
Ukraine 3336504
Ukraine 4433011
Ukraine 1379766
Ukraine 2755108
Ukraine 1088237
Ukraine 1326926
Ukraine 1717649
Ukraine 1009987
Ukraine 2291271
Ukraine 2544748
Ukraine 1183282
Ukraine 2388670
Ukraine 1487751
Ukraine 1152526
Ukraine 1161544
Ukraine 1084127
Ukraine 1641201
Ukraine 1037149
Ukraine 1247350
Ukraine 1801315
Ukraine 1279008
Ukraine 1963514
Ukraine 2799199
Ukraine 380821
Croatia 4290612
Croatia 686568
Croatia 165893
Croatia 127498
Croatia 83496
Croatia 70674
Bulgaria 7351234
Bulgaria 1270284
Bulgaria 331796
Bulgaria 330486
Bulgaria 197301
Bulgaria 146609
Bulgaria 136363
Romania 20121641
Romania 342376
Romania 430629
Romania 159074
Romania 612431
Romania 155383
Romania 616168
Romania 144307
Romania 575398
Romania 196367
Romania 286225
Romania 412626
Romania 106847
Romania 321212
Romania 180302
Romania 549217
Romania 253200
Romania 1883425
Romania 1883425
Romania 451069
Romania 115494
Romania 306691
Romania 295579
Romania 691106
Romania 324576
Romania 684082
Romania 283872
Romania 210177
Romania 518745
Romania 660544
Romania 269506
Romania 536167
Romania 249432
Romania 281422
Romania 341594
Romania 310867
Romania 418565
Romania 274148
Romania 772348
Romania 290422
Romania 478659
Romania 123738
Romania 265390
Romania 92617
Romania 550846
Romania 134290
Romania 470766
Romania 85055
Romania 436400
Romania 762886
Romania 209945
Romania 224384
Romania 344360
Romania 102411
Romania 397322
Romania 147245
Romania 634810
Romania 92121
Romania 380123
Romania 683540
Romania 319279
Romania 213083
Romania 395499
Romania 371714
Romania 98776
Romania 340310
Romania 388738
Estonia 1294455
Norway 4920305
Norway 599230
Norway 599230
Norway 545653
Norway 112789
Norway 274827
Norway 191622
Norway 186087
Norway 261110
Norway 63582
Norway 233705
Norway 169185
Norway 52077
Norway 110048
Norway 172408
Norway 82394
Norway 436087
Norway 126021
Norway 484240
Norway 260392
Norway 107742
Norway 253904
Norway 294066
Norway 173486
Norway 132140
Norway 237280
Norway 157554
Norway 68239
Norway 73417
Gibraltar 27495
Ceuta 82376
Ceuta 82376
Melilla 78476
Melilla 78476
Iceland 318452
Iceland 118061
Iceland 13862
Iceland 26099
Iceland 17490
Ireland 4588252
Ireland 525383
Ireland 118912
Ireland 75414
Ireland 56779
Jersey 97857
Malta 417432
Isle of Man 84497
Portugal 10561614
Portugal 79042
Portugal 49578
United Kingdom 63182178
United Kingdom 2596886
United Kingdom 268064
United Kingdom 174286
United Kingdom 120046
United Kingdom 174700
United Kingdom 7052177
United Kingdom 510746
United Kingdom 103608
United Kingdom 105878
United Kingdom 194189
United Kingdom 103886
United Kingdom 96555
United Kingdom 107926
United Kingdom 165456
United Kingdom 147663
United Kingdom 117963
United Kingdom 552267
United Kingdom 142968
United Kingdom 102885
United Kingdom 97886
United Kingdom 5283733
United Kingdom 474632
United Kingdom 99251
United Kingdom 349561
United Kingdom 162949
United Kingdom 518090
United Kingdom 109805
United Kingdom 109691
United Kingdom 152841
United Kingdom 284321
United Kingdom 4533222
United Kingdom 289301
United Kingdom 215173
United Kingdom 443760
United Kingdom 255394
United Kingdom 100160
United Kingdom 5601847
United Kingdom 1085810
United Kingdom 325949
United Kingdom 210319
United Kingdom 123187
United Kingdom 270726
United Kingdom 100153
United Kingdom 109015
United Kingdom 142723
United Kingdom 5846965
United Kingdom 145818
United Kingdom 161707
United Kingdom 144957
United Kingdom 110507
United Kingdom 131982
United Kingdom 175547
United Kingdom 107123
United Kingdom 119441
United Kingdom 186682
United Kingdom 211228
United Kingdom 8173941
United Kingdom 8250205
United Kingdom 8634750
United Kingdom 253651
United Kingdom 238137
United Kingdom 107355
United Kingdom 171750
United Kingdom 120256
United Kingdom 229700
United Kingdom 107627
United Kingdom 159994
United Kingdom 218705
United Kingdom 155298
United Kingdom 109185
United Kingdom 104157
United Kingdom 106943
United Kingdom 109120
United Kingdom 105367
United Kingdom 5288935
United Kingdom 535907
United Kingdom 234982
United Kingdom 113507
United Kingdom 187503
United Kingdom 154718
United Kingdom 116447
United Kingdom 136362
United Kingdom 182441
United Kingdom 5295403
United Kingdom 459366
United Kingdom 590507
United Kingdom 195021
United Kingdom 147285
United Kingdom 3063456
United Kingdom 335145
United Kingdom 179485
United Kingdom 128060
United Kingdom 1810863
United Kingdom 280561
Iran 75149669
Iran 3080576
Iran 667499
Iran 200958
Iran 162275
Iran 3724620
Iran 1494998
Iran 1945227
Iran 851405
Iran 658629
Iran 108505
Iran 1032949
Iran 195222
Iran 895263
Iran 159775
Iran 4879312
Iran 1756126
Iran 221814
Iran 244696
Iran 4596658
Iran 1460665
Iran 2480874
Iran 639951
Iran 1758268
Iran 525794
Iran 159848
Iran 1578183
Iran 435751
Iran 557599
Iran 172213
Iran 2938988
Iran 534441
Iran 185623
Iran 5994402
Iran 2749374
Iran 231557
Iran 239185
Iran 4531720
Iran 1112021
Iran 129418
Iran 248380
Iran 103369
Iran 212744
Iran 1493645
Iran 373987
Iran 1754243
Iran 348216
Iran 240654
Iran 1413959
Iran 484212
Iran 3073943
Iran 296417
Iran 219915
Iran 219467
Iran 196050
Iran 631218
Iran 153680
Iran 2534327
Iran 560725
Iran 12183391
Iran 8154051
Iran 275325
Iran 389102
Iran 1074428
Iran 486152
Iran 1015734
Iran 386851
Iran 1248488
Iran 482632
Iran 1777014
Iran 329536
Iran 144546
Iran 2412513
Iran 1614626
Iran 1151672
Iran 1074036
Iran 1201565
Iran 381598
Iran 867727
Iran 199791
Iran 662534
Iran 178020
Armenia 3018854
Armenia 1060138
Georgia 62914
Bangladesh 149772364
Bangladesh 8325666
Bangladesh 328278
Bangladesh 28423019
Bangladesh 2971102
Bangladesh 339133
Bangladesh 47424418
Bangladesh 7423137
Bangladesh 476349
Bangladesh 286330
Bangladesh 296851
Bangladesh 258040
Bangladesh 15687759
Bangladesh 663342
Bangladesh 18484858
Bangladesh 440604
Bangladesh 350397
Bangladesh 15787758
Bangladesh 294265
Bangladesh 9910219
Bangladesh 479837
India 1210854977
India 49386799
India 1728128
India 1034358
India 1383727
India 31205576
India 104099452
India 1684222
India 1458545
India 60439692
India 5577940
India 4467797
India 1670806
India 1286678
India 25351462
India 6864602
India 12541302
India 1180570
India 61095297
India 8443675
India 33406061
India 752490
India 72626809
India 1798218
India 1964086
India 1055525
India 1054420
India 112374333
India 12442373
India 2405665
India 3124458
India 1247327
India 1841488
India 1486053
India 1175116
India 1727692
India 2855794
India 2966889
India 1097206
India 1978502
India 41974218
India 27743338
India 1618879
India 1132383
India 68548437
India 3046163
India 1033756
India 1001694
India 610577
India 72147030
India 4646732
India 1017865
India 1050721
India 3673917
India 199812341
India 2817105
India 2765348
India 1198491
India 1585704
India 1112544
India 1305429
India 1414050
India 91276115
India 4496694
India 1077075
India 380581
India 1055450
India 343709
India 243247
India 16787941
India 11034555
India 1648643
India 64473
India 1247953
India 25545198
India 1010433
India 32988134
India 1073427
India 35193978
India 6731790
India 10086292
Brunei 393372
Brunei 279924
Hong Kong 7071576
Macao 552503
Nepal 26494504
Nepal 1003285
Nepal 264991
Nepal 226728
Nepal 204949
Christmas Island 2072
Cyprus 840407
Cyprus 55014
Cyprus 51468
Cyprus 101000
Papua New Guinea 7275324
Papua New Guinea 318128
Iraq 33330512
Iraq 1561407
Iraq 1820673
Iraq 7055196
Iraq 2531997
Iraq 1836181
Iraq 1443173
Iraq 1066567
Iraq 971448
Iraq 719069
Iraq 1285484
Iraq 3270422
Iraq 1134313
Iraq 1408174
Iraq 1395614
Iraq 1210591
Iraq 1128745
Iraq 1612692
Jordan 6249000
Anguilla 13037
Antigua and Barbuda 81799
Antigua and Barbuda 22219
Canada 33476688
Canada 3645257
Canada 812201
Canada 1096833
Canada 4400057
Canada 603502
Canada 223218
Canada 468251
Canada 1208268
Canada 663617
Canada 751171
Canada 56224
Canada 514536
Canada 106172
Canada 41462
Canada 19234
Canada 921727
Canada 390096
Canada 12851821
Canada 883391
Canada 288301
Canada 265349
Canada 366151
Canada 519949
Canada 2615060
Canada 219153
Canada 210891
Canada 149607
Canada 713443
Canada 523911
Canada 301709
Canada 175779
Canada 131400
Canada 108359
Canada 140204
Canada 34562
Canada 7903001
Canada 401553
Canada 1649519
Canada 516622
Canada 231409
Canada 190473
Canada 1033381
Canada 193100
Canada 222189
Canada 33897
Canada 23276
Canada 31906
Canada 6699
Costa Rica 4301712
Costa Rica 1403963
Costa Rica 847660
Costa Rica 491425
Costa Rica 433975
Costa Rica 326821
Costa Rica 410914
Costa Rica 386954
Dominica 70739
Dominica 14725
Grenada 103328
Guadeloupe 404635
Jamaica 2697983
Jamaica 662426
Martinique 392291
Montserrat 4922
Curacao 150563
Saint Vincent and the Grenadines 109991
Trinidad and Tobago 1328019
Virgin Islands 106405
Australia 21507717
Australia 6917656
Australia 540002
Australia 4605992
Australia 288101
Australia 241643
Australia 211943
Australia 129062
Australia 4332737
Australia 2146577
Australia 576747
Australia 167636
Australia 146477
Australia 1596570
Australia 1262940
Australia 495351
Australia 216276
Australia 5354040
Australia 4169103
Australia 174086
Australia 2239171
Australia 1832114
Australia 357218
Australia 418292
Cook Islands 17794
Marshall Islands 53158
Marshall Islands 27797
Niue 1611
Norfolk Island 2169
Tonga 103252
Tokelau 1411
Tokelau 490
Samoa 187820
Samoa 36735
Uruguay 3286314
Uruguay 1318755
Uruguay 104011
French Guiana 237549
French Guiana 57229
Venezuela 28946101
Venezuela 146480
Venezuela 1469747
Venezuela 459025
Venezuela 1630308
Venezuela 816264
Venezuela 1410964
Venezuela 2245744
Venezuela 323165
Venezuela 167676
Venezuela 902847
Venezuela 747739
Venezuela 1774867
Venezuela 828592
Venezuela 2675165
Venezuela 905443
Venezuela 491610
Venezuela 876496
Venezuela 896291
Venezuela 1168908
Venezuela 686367
Venezuela 600852
Venezuela 3704404
Venezuela 1943901
Venezuela 352920
Angola 5000000
Namibia 2113077
Namibia 322500
Nigeria 164294516
Nigeria 3250816
Nigeria 2193613
Nigeria 3667419
Nigeria 4612067
Nigeria 4796408
Nigeria 5499737
Nigeria 1966426
Nigeria 4931135
Nigeria 4930077
Nigeria 3337517
Nigeria 4813917
Nigeria 2499272
Nigeria 3694087
Nigeria 2794575
Nigeria 3788319
Nigeria 2768452
Nigeria 4597500
Nigeria 5031103
Nigeria 7087226
Nigeria 11058314
Nigeria 6725626
Nigeria 3793585
Nigeria 3841884
Nigeria 2742093
Nigeria 10668139
Nigeria 2167120
Nigeria 4674381
Nigeria 4412299
Nigeria 4012105
Nigeria 3999800
Nigeria 6596392
Nigeria 3663428
Nigeria 6144673
Nigeria 4292416
Nigeria 2647413
Nigeria 2757022
Nigeria 3838160
Botswana 2038228
Botswana 227333
Botswana 100079
South Africa 51770560
South Africa 6562053
South Africa 1152115
South Africa 755200
South Africa 77682
South Africa 2745590
South Africa 747431
South Africa 12272263
South Africa 2921488
South Africa 4434827
South Africa 463109
South Africa 721662
South Africa 3178471
South Africa 10267300
South Africa 618536
South Africa 3442361
South Africa 4039939
South Africa 588794
South Africa 1145861
South Africa 5404868
South Africa 628999
South Africa 3509953
South Africa 5822734
South Africa 3740026
South Sudan 372410
Mauritius 1237091
Mayotte 212645
Reunion 828581
Reunion 145347