# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [16]:
from xml.etree import ElementTree as ET
import pandas as pd

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [17]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [18]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [19]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [20]:
document = ET.parse( './data/mondial_database.xml' )
root = document.getroot()

In [21]:
# 10 countries with the largest population

# Trying to extract only year

population = pd.DataFrame()

d = {}

for element in document.iterfind('country'):
    for subelement in element.iterfind('population'):
        d[element.find('name').text] = subelement.attrib['year']
        
for element in document.iterfind('country'):
    for subelement in element.iterfind('population'):
        if subelement.attrib['year'] == d[element.find('name').text]:
            entry = pd.DataFrame({'country': element.find('name').text, 'population': subelement.text, 'year': int(subelement.attrib['year'])}, index = range(1))
            population = population.append(entry, ignore_index=True)
            
population.head(10)

      country population  year
0     Albania    2800138  2011
1      Greece   10816286  2011
2   Macedonia    2059794  2011
3      Serbia    7120666  2011
4  Montenegro     620029  2011
5      Kosovo    1733872  2011
6     Andorra      78115  2011
7      France   64933400  2011
8       Spain   46815916  2011
9     Austria    8499759  2013

In [22]:
population.sort_values(by='population', ascending =False).head(10)

                country population  year
200               Benin    9983884  2013
12              Hungary    9937628  2011
128               Haiti    9896400  2010
169              Tuvalu       9827  2010
47               Jersey      97857  2011
226             Somalia    9636173  2010
37               Sweden    9555893  2012
18              Belarus    9460692  2013
127  Dominican Republic    9445281  2010
63           Azerbaijan    9356500  2013

In [23]:
# 10 countries with the lowest infant mortality rates
from decimal import Decimal
mortality = pd.DataFrame()

for element in document.iterfind('country'):
    try:
        entry = pd.DataFrame({'country': element.find('name').text, 'mortality rate': Decimal(element.find('infant_mortality').text)}, index = range(1))
    except AttributeError:
        pass
    mortality = mortality.append(entry, ignore_index=True)

In [24]:
mortality.sort_values(by='mortality rate', ascending = True).head(10)

            country mortality rate
38           Monaco           1.81
98            Japan           2.13
36           Norway           2.48
117         Bermuda           2.48
106       Singapore           2.53
37           Sweden            2.6
10   Czech Republic           2.63
78        Hong Kong           2.73
79            Macao           3.13
44          Iceland           3.15

In [25]:
#10 cities with the largest population

population = pd.DataFrame()

d = {}

for element in document.iterfind('country'):
    for subelement in element.iterfind('city'):
        for subelement_pop in subelement.iterfind('population'):
            d[subelement.find('name').text] = subelement_pop.attrib['year']

for element in document.iterfind('country'):
    for subelement in element.iterfind('city'):
        for subelement_pop in subelement.iterfind('population'):
            if subelement_pop.attrib['year'] == d[subelement.find('name').text]:
                entry = pd.DataFrame({'city': subelement.find('name').text, 'population': int(subelement_pop.text), 'year': int(subelement_pop.attrib['year'])}, index = range(1))
                population = population.append(entry, ignore_index=True)

In [26]:
population.sort_values(by='population', ascending =False).head(10)

                city  population  year
164            Seoul     9708483  2010
153       Al Qahirah     8471859  2006
74           Bangkok     7506700  1999
122        Hong Kong     7055071  2009
86       Ho Chi Minh     5968384  2009
200        Singapore     5076700  2010
152  Al Iskandariyah     4123869  2006
204       New Taipei     3939305  2012
165            Busan     3403135  2010
101        Pyongyang     3255288  2008

In [29]:
# 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
from decimal import Decimal
ethnic_group = pd.DataFrame()

def convert(x):
    return x/100

for element in document.iterfind('country'):
    for subelement in element.iterfind('ethnicgroup'):
        ethnic_entry = pd.DataFrame({'country': element.find('name').text, 'ethnicity': subelement.text, 'percentage': 
                                     Decimal(subelement.attrib['percentage'])}, index = range(1))
        ethnic_group = ethnic_group.append(ethnic_entry, ignore_index=True)
ethnic_group['percentage'] = ethnic_group['percentage'].apply(convert)

ethnic_group.head(10)

     country    ethnicity percentage
0    Albania     Albanian       0.95
1    Albania        Greek       0.03
2     Greece        Greek       0.93
3  Macedonia   Macedonian      0.642
4  Macedonia     Albanian      0.252
5  Macedonia      Turkish      0.039
6  Macedonia        Gypsy      0.027
7  Macedonia         Serb      0.018
8     Serbia         Serb      0.829
9     Serbia  Montenegrin      0.009

In [52]:
grouping = pd.DataFrame()

for i in ethnic_group.ethnicity.unique():
    temp = 0
    for j in ethnic_group[ethnic_group.ethnicity == i]['percentage']:
        temp = temp * j
    entry = pd.DataFrame({'ethnicity': i, 'total_of_world': temp}, index = range(1))

    grouping = grouping.append(entry, ignore_index=True)

grouping

                ethnicity                   total_percentage
0                Albanian                        0.011012400
1                   Greek                           0.021483
2              Macedonian                           0.016050
3                 Turkish                  8.02182610944E-12
4                   Gypsy                              0.027
5                    Serb                       8.5950720E-8
6             Montenegrin                            0.00387
7               Hungarian                    6.913583820E-12
8                    Roma                      1.4922600E-11
9                 Bosniak                       0.0000053424
10                  Croat                        8.456448E-7
11                Serbian                               0.05
12                Spanish                               0.43
13               Andorran                               0.33
14             Portuguese                          0.0004389
15                 French                        7.004880E-8
16                African  1.094948144192076342086300441E-21
17   Mediterranean Nordic                                  1
18               Austrian                              0.911
19                Slovene                          0.0000455
20                  Serbs                               0.02
21                 German                  6.86602595250E-18
22                  Czech                            0.00904
23               Moravian                              0.037
24                 Slovak                        0.000130264
25                 Polish                    1.003062528E-12
26               Romanian                        0.000018711
27                Italian                       0.0000020425
28              Alemannic                               0.95
29              Ukrainian                 1.867551033600E-19
..                    ...                                ...
250                 Luhya                               0.14
251                   Luo                               0.13
252              Kalenjin                               0.12
253                 Kamba                               0.11
254                 Kisii                               0.06
255                  Meru                               0.06
256                 Wolof                               0.36
257                 Diola                               0.09
258              Mandingo                               0.09
259                 Serer                               0.17
260            Toucouleur                               0.09
261     European Lebanese                               0.01
262                Rwanda                               0.06
263               Baganda                               0.17
264            Karamojong                               0.12
265                Basogo                               0.08
266                 Iteso                               0.08
267                 Langi                               0.06
268                Bagisu                               0.05
269                Acholi                               0.04
270               Lugbara                               0.04
271               Bunyoro                               0.03
272                Batobo                               0.03
273                 Sotho                              0.997
274          Euro-African                              0.002
275        Indo-Mauritian                               0.68
276        Sino-Mauritian                               0.03
277      Franco-Mauritian                               0.02
278       African descent                                0.5
279           Seychellois                                  1

[280 rows x 2 columns]

In [63]:
total = 0
for i in population.population:
    total = int(i) + total

def amt(x):
    return x*total
    
grouping['total_percentage'] = grouping['total_percentage'].apply(amt)

grouping

                ethnicity                   total_percentage
0                Albanian                  2448633.944181600
1                   Greek                     4776797.339622
2              Macedonian                     3568756.565700
3                 Turkish          0.00178367256055873437696
4                   Gypsy                        6003515.718
5                    Serb                 19.111351796052480
6             Montenegrin                       860503.91958
7               Hungarian            0.001537252190040017880
8                    Roma               0.003318076431608400
9                 Bosniak                    1187.8956434016
10                  Croat                  188.0311795794432
11                Serbian                        11117621.70
12                Spanish                        95611546.62
13               Andorran                        73376303.22
14             Portuguese                      97590.4832826
15                 French                  15.57552117877920
16                African  2.434643849648911381767055411E-13
17   Mediterranean Nordic                          222352434
18               Austrian                      202563067.374
19                Slovene                      10117.0357470
20                  Serbs                         4447048.68
21                 German          1.52667758244554338500E-9
22                  Czech                      2010066.00336
23               Moravian                        8227040.058
24                 Slovak                    28964.517462576
25                 Polish            0.000223033394554993152
26               Romanian                     4160.436392574
27                Italian                     454.1548464450
28              Alemannic                       211234812.30
29              Ukrainian         4.15254517940175782400E-11
..                    ...                                ...
250                 Luhya                        31129340.76
251                   Luo                        28905816.42
252              Kalenjin                        26682292.08
253                 Kamba                        24458767.74
254                 Kisii                        13341146.04
255                  Meru                        13341146.04
256                 Wolof                        80046876.24
257                 Diola                        20011719.06
258              Mandingo                        20011719.06
259                 Serer                        37799913.78
260            Toucouleur                        20011719.06
261     European Lebanese                         2223524.34
262                Rwanda                        13341146.04
263               Baganda                        37799913.78
264            Karamojong                        26682292.08
265                Basogo                        17788194.72
266                 Iteso                        17788194.72
267                 Langi                        13341146.04
268                Bagisu                        11117621.70
269                Acholi                         8894097.36
270               Lugbara                         8894097.36
271               Bunyoro                         6670573.02
272                Batobo                         6670573.02
273                 Sotho                      221685376.698
274          Euro-African                         444704.868
275        Indo-Mauritian                       151199655.12
276        Sino-Mauritian                         6670573.02
277      Franco-Mauritian                         4447048.68
278       African descent                        111176217.0
279           Seychellois                          222352434

[280 rows x 2 columns]